@font-face {
    font-family: "gilroy-extrabold";
    src: url("fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
         url("fonts/gilroy-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: "OpenSans",Arial,sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}
a {
    text-decoration: none;
}

.headline {
    font-family: "gilroy-extrabold";
    font-size: 47px;
    font-weight: 800;
    line-height: 1.02;
    color: #000000;
}
.functional-link {
    color: #000000; 
}
 .functional-link:hover {
    color: rgba(0,0,0,0.6);
}
.second-header-navigation {
    font-family: "gilroy-extrabold";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
}
.transport-companies {
    font-family: "gilroy-extrabold";
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
    color: #000000;
}
.button {
    font-family: "gilroy-extrabold";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
    background-color: #f0c52e;
    text-transform: uppercase;
}
.main-footer {
    background-color: #464646;
}
.footer-text {
    font-family: "OpenSans",Arial,sans-serif;
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    color: #ffffff;
}
.delivery,
.warranty,
.contacts-navigation {
    font-family: "gilroy-extrabold";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #ffffff;
    text-transform: uppercase;
}
.footer-functional-link {
    font-family: "OpenSans",Arial,sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    color: rgba(255, 255, 255, 0.7);
}
.catalog,
.delivery,
.warranty,
.contacts-navigation {
    font-family: "gilroy-extrabold";
    font-size: 18px;
    font-weight: 800;   
    line-height: 1.33;
    color: #000000;
    text-transform: uppercase;
}





