@font-face {
    font-family: "gilroy-extrabold";
    src: url(".../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
         url(".../fonts/gilroy-extrabold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;
}
a {
    text-decoration: none;
}
.main-header{
    background-color: #f0c52e;
}
.headline {
    font-family: "gilroy-extrabold", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.02;
    color: #000000;
}
.functional-link {
    color: #000000; 
}
 .functional-link:hover,
 .functional-link:focus {
    color: rgba(0,0,0,0.6);
}
.functional-link:active{
    color: rgba(0,0,0,0.3);
}
.second-header-navigation {
    font-family: "gilroy-extrabold";
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
}
.transport-companies {
    font-family: "gilroy-extrabold", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
    color: #000000;
}
.button {
    font-family: "gilroy-extrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
    background-color: #f0c52e;
    text-transform: uppercase;
}
.main-footer {
    background-color: #464646;
}
.footer-text {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    line-height: 2;
    font-weight: 300;
    color: #ffffff;
}

.footer-functional-link {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 2.4;
    color: rgba(255,255,255,0.7);
}
.footer-functional-link:focus,
.footer-functional-link:hover{
    color: #ffffff;
}
.footer-functional-link:active{
    color: rgba(255,255,255,0.3)
}
.link-of-site-navigation {
    font-family: "gilroy-extrabold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;   
    line-height: 1.33;
    color: #000000;
    text-transform: uppercase;
}
.link-of-site-navigation:focus,
.link-of-site-navigation:hover{
    color: rgba(0,0,0,0.6);
}
.link-of-site-navigation:active{
    color: rgba(0,0,0,0.3);
}
.link-of-type-items{
    font-family: "OpenSans", Arial, sans-serif;
    width: 123px;
    height: 48px;
    font-weight: 300;
    line-height: 2.4;
    color: #000000;
}
.link-of-type-items:focus,
.link-of-type-items:hover{
    color: rgba(0,0,0,0.6);
}
.link-of-type-items:active{
   color: rgba(0,0,0,0.3);
}
.footer-link-navigation{
    width: 109px;
    font-weight: 800;
    height: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: #ffffff;
}
.footer-link-navigation:focus,
.footer-link-navigation:hover{
    color: rgba(255, 255, 255, 0.6);
}
.footer-link-navigation:active{
    color: rgba(255,255,255,0.3);
}
.content-link{
    width: 173px;
    height: 39px;
    font-family: "gilroy-extrabold", Arial, sans-serif;
    font-weight: 800;
    line-height: 1.33;
    color: #000000;
}
.price{
    width: 75px;
    height: 14px;
    font-family: "gilroy-extrabold", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #464646;
}








